{
    "profile": "default",
    "clientId": "GET YOUR CLIENT ID FROM GOOGLE API CONSOLE",
    "clientSecret": "GET YOUR CLIENT SECRET FROM GOOGLE API CONSOLE",
    "redirectUrl": "PUT CALLBACK URL OF YOUR APP"
}
